<div class="courseDetail-conatiner">
    <div class="headCourseDetail-container">
        <div class="leftHead-detail">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/{{courses.[0].videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="card-b">
                <h5 class="card-title">{{courses.[0].name}}</h5>
                <p class="card-text">{{courses.[0].description}}</p>
            </div>
            <div class="dropdown-divider mt-5"></div>

            <div class="status-course d-flex justify-content-end">
                <a href="#"><i class="far fa-thumbs-up mr-2 fa-lg"></i> 10K</a>
                <a href="#"><i class="far fa-thumbs-down mr-2 fa-lg ml-5"></i> 12</a>
                <a href="#"><i class="far fa-comment-alt fa-lg mr-2 ml-5"></i> 1,2K</a>
                <a href="#"><i class="far fa-share-square mr-2 fa-lg ml-5"></i> 120</a>
            </div>

            <div class="dropdown-divider mt-5"></div>
        </div>


        <div class="rightHead-detail">
            <div class="container-comment">
                <div id="comment" class="comment-show"></div>
                <div class="write-comment-course">
                    <div class="input-comment-course">
                        <input type="text" class="input-comment ml-1" id="comment-text" placeholder="wirte comment..."
                            width="100%">
                    </div>
                    <div class="btn-send-comment">
                        <a href="#" id="send-comment"><i class="fas fa-location-arrow ml-5 fa-lg"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="listCourse-detail">
        {{#each courses}}
            <div class="card-course">
                <a href="/course/{{this.type}}/{{this.slug}}" class="click-a">
                    <img src="{{this.imga}}" class="card-img-top" alt="{{this.imga}}">
                </a>
                <div class="card-body ">
                    <a href="/course/{{this.type}}/{{this.slug}}" class="click-a>
                    <h5 class=" card-title">{{this.name}}</h5>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sendComment = document.getElementById("send-comment");
        const comment = document.getElementById("comment");
        const commentText = document.getElementById("comment-text");
        const listComment = [];


        sendComment.onclick = function () {
            listComment.push(commentText.value);
            commentText.value = "";
            const html = listComment.map(comment => {
                return ` 
                <div class="d-flex align-items-start mb-3">
                    <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/239782149_876730482932789_4917845868754946606_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=kU7SlC_2pQEAX-517YQ&tn=aUTkPD_b_GU4Udwi&_nc_ht=scontent.fhan14-2.fna&oh=e083d477949e95c4f155045ae3224fa4&oe=61337338" 
                        alt="" width="40px" height="40px" style="border-radius:50%">
                    <div class="ml-2 p-2" style="border-radius:10px; min-width: 100px; font-size: 13px;  background:rgba(104, 71, 71, 0.1);">
                        <p class="m-0">Hoang</p>
                        <span>${comment}</span>
                    </div>
                </div>
             `;
            });
            comment.innerHTML = html.join("");

        }
    });
</script>